* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-base: "Poppins", sans-serif;
  --font-secondary: "Playfair Display", serif;

  --primary-color: #2db0b4;
  --green-color: #33b77e;
  --secondary-color: #040122;
  --dark-gray-color: #1b1836;
  --gray-color: #171d36;
  --gray-btn-color: #2c3c4d;
  --light-gray-color: #8c959f;
  --light: rgba(255, 255, 255, 0.66);
  --white: #fff;
}

body {
  font-family: var(--font-base);
  background-color: var(--secondary-color);
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-secondary);
  color: var(--white);
}
h1 {
  /* font-size: 3.8rem; */
}
h2 {
  color: var(--white);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: var(--font-secondary);
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 57px;
}

p {
  margin: 0;
  color: var(--light);
  font-family: var(--font-base);
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
}

/* Navbar */

nav {
  background-color: var(--secondary-color);
  color: var(--white);
  height: 110px;
}

.logo-wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}
.colored-image-Wrapper {
  width: 65px;
}

.menu-list {
  gap: 57px;
  margin-left: auto;
  margin-right: 62px !important;
}

.menu-list li a {
  color: var(--white) !important;
  border-bottom: 3px solid transparent !important;
}

.menu-list li a:hover {
  color: var(--primary-color) !important;
  border-bottom: 3px solid var(--primary-color) !important;
}

.btn {
  border-radius: 8px;
  color: var(--white);
  font-family: var(--font-base);
}
.green-btn {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  padding: 1rem 2rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.green-btn:hover,
.green-btn:focus {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--white);
  opacity: 0.9;
}

/* - Hero SEction */

.hero-section-wrapper {
  width: 100%;
}

.hero-section {
  width: 100%;
  /* height: 788px; */
  background-color: var(--dark-gray-color);
  padding: 114px 47px 167px 97px;
  overflow: hidden;
}

.hero-section .hero-leftwrapper {
  position: relative;
}
.hero-leftwrapper h2 {
}
.hero-leftwrapper h2 span {
  background-color: var(--green-color);
  border-radius: 30px;
  padding: 0.5rem;
}
.hero-leftwrapper h4 {
  color: var(--primary-color);
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  margin-top: 21px;
  margin-bottom: 21px;
}
.hero-leftwrapper p {
  color: var(--light);
  font-size: 19px;
  line-height: 38px;
}

.header-img-left {
  position: absolute;
  top: -62px;
  left: -36px;
}

.hero-leftwrapper .green-btn {
  margin-top: 43px;
}

.hero-img-wrapper {
  /* width: 748px;
  height: 100%;
  overflow: hidden; */
  max-width: 100%;
}
.hero-img-wrapper img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* - 2nd Section */

.second-section {
  height: auto;
  min-height: 997px;
  padding-top: 72px;
  padding-bottom: 120px;
}

.second-section .second-head {
  display: grid;
  justify-content: center;
  text-align: center;
}

.second-section .second-head h3 {
  font-size: 36px;
  line-height: 63.984px;
}

.second-section .second-head h3 span {
  background-color: var(--primary-color);
  border-radius: 50px;
  padding: 0.5rem;
}

.second-section .second-head .second-sub-head {
  margin-top: 49px;
}

.second-section .second-head .second-sub-head h5 {
  color: var(--primary-color);
  font-size: 29px;
  line-height: 63.984px;
}

.second-section .second-head .second-sub-head h2 {
  font-size: 48px;
  line-height: 63.984px;
}

.second-section .second-head .second-sub-head .divider {
  width: 195px;
  height: 5px;
  background: var(--primary-color);
  margin: auto;
}

.second-section .row {
  margin-top: 80px;
  /* display: flex; */
}

.second-left-wrapper {
  margin-top: 80px;
}
.second-left-wrapper h2 {
  font-size: 42px;
  line-height: 63.984px;
}
.second-left-wrapper p {
  margin-top: 42px;
  font-size: 22px;
  line-height: 40px;
  color: var(--white);
}

.second-left-wrapper button {
  margin-top: 46px;
}

@media only screen and (max-width: 600px) {
  .second-section {
    padding-top: 40px;
    padding-bottom: 120px;
  }

  .second-section .second-head .second-sub-head {
    margin-top: 31px;
  }

  .second-section .second-head .second-sub-head h2 {
    margin-top: 10px;
    font-size: 30px;
    line-height: unset;
  }
  .second-section .second-head .second-sub-head h5 {
    font-size: 20.7px;
    line-height: unset;
  }
  .second-section .row {
    margin-top: 47px;
  }
  .second-section .second-head .second-sub-head .divider {
    width: 151px;
    height: 5px;
  }
}

/* - Our Services Card */

.servic-card {
  background-color: rgba(253, 253, 254, 0.15);
  width: 412px;
  border-radius: 13px;
  padding: 37px 45px 100px 25px;
  min-height: 550px;
  height: auto;
  position: relative;
}

.servic-card .service-icon-wrapper {
  background-color: var(--primary-color);
  padding: 24px;
  width: 123px;
  height: 123px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--white);
  font-size: 2.5rem;
}
/* 
.servic-card .service-icon-wrapper .fa-truck {
  width: 67px;
  height: 67px;
} */

.servic-card h3 {
  margin-top: 24px;
  font-size: 34px;
  line-height: 63.984px;
}

.servic-card p {
  margin-top: 10px;
  font-size: 19px;
  line-height: 40px;
  color: var(--light);
}

.servic-card .white-gray-btn {
  background-color: var(--white);
  border-color: var(--white);
  padding: 1rem 2rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #263238;
  position: absolute;
  bottom: 37px;
}

/* - Section Three */

.third-section,
.eleventh-section {
  background-color: var(--gray-color);
  border-radius: 16px;
  height: 695px;
  padding: 70px 34px 90px 66px;
}

.third-img-wrapper {
  width: 534px;
  height: 535px;
  border-radius: 535px;
  background: rgba(255, 255, 255, 0.05);
}
.third-img-wrapper img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.third-right-wrapper h2 {
  margin-top: 114px;
  width: 564px;
}
.third-right-wrapper p {
  color: var(--light);
  font-size: 19px;
  line-height: 38px;
  margin-top: 19px;
}

.dark-gray-btn {
  background-color: var(--gray-btn-color);
  border-color: var(--gray-btn-color);
  padding: 1rem 2rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.dark-gray-btn:hover,
.dark-gray-btn:focus {
  background-color: var(--gray-btn-color);
  border-color: var(--gray-btn-color);
  color: var(--white);
  opacity: 0.9;
}

.third-right-wrapper .dark-gray-btn {
  margin-top: 27px;
}

/* - Forth Section & Tenth Section */

.forth-wrapper,
.tenth-wrapper {
  display: grid;
  justify-content: center;
  padding-top: 86px;
  text-align: center;
}

.forth-wrapper h3,
.tenth-wrapper h3 {
  font-size: 42px;
  line-height: 63.984px; /* 152.343% */
}

.forth-wrapper p,
.tenth-wrapper p {
  margin-top: 41px;
  font-size: 22px;
  line-height: 40px; /* 181.818% */
  width: 1201px;
  text-align: center;
  margin: 41px auto;
}

.forth-card-wrapper,
.tenth-card-wrapper {
  margin-top: 60px;
  /* margin-bottom: 340px; */
  display: flex;
  gap: 38px;
}

.tenth-wrapper h4 {
  color: var(--primary-color);
  font-size: 29px;
  line-height: 63.984px; /* 220.634% */
  margin: 0;
}
.tenth-wrapper h3 {
  margin: 0;
}

.tenth-card-wrapper {
  margin-bottom: 149px;
}

/* - 5th Section */

.section-five {
  background-image: linear-gradient(0deg, rgba(4, 1, 34, 0.75) 0%, rgba(4, 1, 34, 0.75) 100%),
    url("../images/Homepage/Testimonials-bg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 833px;
  margin-top: 340px;
}

.fivth-wrapper {
  display: grid;
  justify-content: center;
  text-align: center;
  padding: 100px 100px 163.877px 100px;
}

.fivth-head-wrapper {
}

.fivth-head-wrapper h5 {
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 1.32px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.fivth-head-wrapper h2 {
  font-size: 44px;
  line-height: 63.984px;
  text-transform: uppercase;
}

.fivth-wrapper .row {
  margin-top: 50px;
}
.fa-star {
  color: var(--primary-color);
  text-align: center;
  font-family: Font Awesome 6 Free;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.fivth-wrapper .row .testimonial-card {
  display: flex;
  padding: 31.75px;
  flex-direction: column;
  align-items: center;
  gap: 15.875px;
  border-radius: 35px;
  background: rgba(253, 253, 254, 0.15);
  backdrop-filter: blur(4px);
  width: 605px;
  height: 321px;
}
.testimonial-card p {
  color: var(--white);
  text-align: center;
  /* font-family: DM Sans !important; */
  font-size: 22px;
  font-style: italic;
  line-height: 26px;
}
.testimonial-card h5 {
  font-size: 22px;
  line-height: 29px;
}

.testimonial-card p:last-child {
  color: var(--white);
  font-size: 16px;
  line-height: 24px; /* 150% */
  letter-spacing: 0.96px;
  text-transform: uppercase;
  font-style: normal;
}

.testimonial-img-wrapper {
  margin: auto;
  width: 75px;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial-img-wrapper img {
  object-fit: cover;
  width: 100%;
  height: auto;
  border-radius: 50%;
}

/* - 6th Section */

.sixth-section {
}

.sixth-section h3 {
  font-size: 42px;
  line-height: 63.984px; /* 152.343% */
  text-align: center;
}

.sixth-section h4 {
  color: var(--primary-color);
  font-size: 29px;
  line-height: 63.984px; /* 220.634% */
  margin: 98px auto 0;
  text-align: center;
}

.cards-wrapper {
  padding: 69px;
}

.price-card-list {
  border-radius: 19px;
  background: #221f3d;
  box-shadow: 2px 2px 31px 0px rgba(0, 0, 0, 0.16);
}

.price-card-head {
  background-color: var(--primary-color);
  border-radius: 19px 19px 0 0px;
}

.cards-wrapper p {
  text-align: center;
}

.content {
  padding-top: 8px;
  padding-left: 37px;
}

.content .divider {
  width: 108px;
  height: 5px;
  background: var(--primary-color);
  border-radius: 6px;
}

.content p:first-child {
  color: var(--white);
}

.content .content-first p {
  text-align: left;
  color: var(--light);
  font-size: 22px;
  line-height: 50px;
}
.first-list {
  margin-top: 12px;
}

.content .content-second p {
  text-align: left;
  color: var(--light);
  font-size: 22px;
  line-height: 50px;
}

.second-list {
  margin-top: 12px;
}
.second-list ul {
  margin-left: -24px;
}
.second-list ul li {
  list-style: disc;
  color: var(--white);
}
.card-footer-btn {
  width: 100%;
}
.card-footer-btn {
  width: 100%;
  text-align: center;
}

.card-footer-btn .btn {
  margin: 29px auto 29px -40px;
  text-align: center;
}

/* - 7th Section */

.seventh-section {
  margin-top: 170px;
}

.seventh-img-wrapper {
  width: 528px;
  height: 528px;
  border-radius: 528px;
  background: rgba(255, 255, 255, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.seven-leftwrapper {
  position: relative;
}
.seven-leftwrapper h2 {
  font-size: 48px;
  line-height: 63.984px;
}
.seven-leftwrapper h2 span {
  background-color: var(--green-color);
  border-radius: 50px;
  padding: 0.5rem;
}

.seven-leftwrapper p {
  margin-top: 26px;
  color: var(--light);
  font-size: 22px;
  line-height: 40px;
}

.seven-img-left {
  position: absolute;
  top: -72px;
  left: -56px;
}

.seven-leftwrapper button {
  margin-top: 46px;
}

/* - 8th Section */
.eight-section {
  margin-top: 139px;
}

.eight-img-wrapper {
  width: 528px;
  height: 528px;
  border-radius: 528px;
  background: rgba(255, 255, 255, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.eight-right-wrapper {
  position: relative;
  padding-left: 10px;
}
.eight-right-wrapper h2 {
  font-size: 48px;
  line-height: 63.984px;
}
.eight-right-wrapper h2 span {
  background-color: var(--primary-color);
  border-radius: 50px;
  padding: 0.5rem;
}

.eight-right-wrapper p {
  margin-top: 26px;
  color: var(--light);
  font-size: 22px;
  line-height: 40px;
}

/* - 9th Section */

.ninth-section {
  margin-top: 126px;
  height: 260px;
  border-radius: 16px;
  background: var(--gray-color);
}

.ninth-section .row .ninth-card {
  justify-content: center;
  align-items: center;
  display: grid;
  margin-top: 86px;
}

.ninth-section .row .ninth-card h2 {
  font-size: 29px;
  line-height: 46px;
}

/* - 11th Section */
.eleventh-section {
  margin-top: 149px;
  margin-bottom: 77px;
  height: 465px;
  padding: 0;
}

.eleventh-section .eleventh-right-wrapper {
  margin-left: 127px;
  margin-top: 90px;
}

.eleventh-section .eleventh-right-wrapper h2 {
  font-size: 33px;
  font-weight: 800;
  line-height: 55px;
}

.eleventh-section .eleventh-right-wrapper h5 {
  width: 450px;
  font-size: 20px;
  line-height: 35px;
  margin-top: 18px;
}

.eleventh-section .eleventh-right-wrapper a {
  margin-top: 47px;
}

.elaven-img-wrapper {
  width: 454px;
  height: 454px;
  margin-left: auto;
  margin-right: 66px;
}
.elaven-img-wrapper img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

/* - Footer */
footer {
}

.footer-main {
  padding: 58px 55px 74px 87px;
  background-color: var(--gray-color);
}
.footer-row-first-wrapper {
}
.footer-row-first-wrapper p {
  margin-top: 40px;
  color: var(--white);
  font-size: 16px;
  line-height: 26px;
}
.footer-row-first-wrapper .social-wrapper {
  margin-top: 9px;
  display: flex;
  gap: 15px;
  color: var(--primary-color);
}

.footer-row-second-wrapper {
  display: grid;
  row-gap: 17px;
}
.footer-row-second-wrapper h5 {
  color: var(--white);
  font-family: var(--font-base) !important;
  font-size: 16px;
  line-height: 32px;
}

.footer-row-second-wrapper p {
  color: var(--white);
  font-size: 14px;
  line-height: 24px;
}
.footer-row-second-wrapper {
  color: var(--white);
}

.footer-row-third-wrapper {
}

.footer-row-third-wrapper h5 {
  font-family: var(--font-base) !important;
  font-size: 16px;
  line-height: 32px;
}

.address-wrapper {
  display: grid;
  row-gap: 18px;
}

.address-wrapper .address-list {
  color: var(--white);
  display: flex;
  gap: 15px;
}

.address-wrapper .address-list p {
  color: var(--white);
  font-size: 14px;
  line-height: 24px;
}

.footer-bottom {
}

.footer-bottom p {
  margin: 32px auto;
  color: var(--white);
  font-size: 16px;
  text-align: center;
}

/* - Contact Us page */

.contact-section {
  background-color: var(--gray-color);
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.06);
  height: auto;
  min-height: 700px;
  padding: 70px 34px 50px 66px;
  margin-top: 27px;
}

.contact-section-wrapper-left {
}

.contact-section-wrapper-left h2 span {
  background-color: var(--primary-color);
  border-radius: 50px;
  padding: 0.5rem;
}

.contact-section-wrapper-left h2 {
  color: var(--white);
  font-size: 70px;
  line-height: 86px;
}
.contact-section-wrapper-left h5 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  margin-top: 23px;
}

.contact-section-wrapper-left p {
  font-size: 17px;
  line-height: 35px;
  margin-top: 24px;
}

.contact-list h5 {
  font-size: 22px;
  margin-top: 48px;
  margin-bottom: 28px;
}

.contact-list .address-wrapper .address-list p {
  margin-top: 0;
}

.contact-section-wrapper {
  border-radius: 15px;
  background-color: #24213e;
  padding: 70px 70px 70px 70px;
}

.contact-section-wrapper p {
  color: var(--white);
  font-size: 22px;
}

.outline-input {
  background-color: transparent;
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 8px;
  color: #8c959f;
}

.outline-input:focus {
  border-color: transparent;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  color: #8c959f;
  box-shadow: 0 0 0 0.2rem #e3e3e3;
  color: #8c959f;
}
.form-control:focus {
  background-color: transparent;
  border-color: #e3e3e3;
}
.form-control::placeholder {
  color: #8c959f;
}

.custom-input::placeholder {
  color: #8c959f;
}

.contact-text p {
  color: var(--light-gray-color);
  font-family: var(--font-base);
  font-size: 16px;
  font-weight: 500;
  line-height: 31px;
}

.faq-section {
  padding-top: 123px;
  padding-top: 123px;
}

.faq-section h2 {
  font-size: 40px;
  line-height: 56px;
  text-align: center;
}

.toggle-wrapper {
  padding: 84px 96px 101px;
  position: relative;
}

.toggle-wrapper img {
  position: absolute;
  width: 153px;
  height: 113px;
  top: 30px;
  left: 29px;
}

.accordion {
}

.accordion-item {
  background-color: rgba(255, 255, 255, 0.15);
  border: none;
}

.accordion-header {
  color: var(--white);
}

.accordion-button {
  color: var(--white);
  font-family: var(--font-base);
  background-color: #2a2743 !important;
}

.accordion-body {
  color: var(--white);
}

.accordion-button:not(.collapsed) {
  color: var(--white);
  box-shadow: unset;
  background-color: #2a2743;
}

.accordion-button:focus {
  border-color: unset;
  outline: 0;
  box-shadow: unset;
}

.accordion-button::after,
.accordion-button:not(.collapsed)::after {
}

.map-section {
  padding: 50px 0;
}
.map-wrapper {
  width: 100%;
  height: 636px;
  position: relative;
  overflow: hidden;
  max-width: 100%;
}

.map-wrapper iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* - Gallery Section */

.gallery-section {
  background-image: linear-gradient(0deg, rgba(4, 1, 34, 0.75) 0%, rgba(4, 1, 34, 0.75) 100%),
    url("../images//gallery/car-gallery.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 278px;
}

.gallery-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-section .header-gallery-wrapper h3 {
  font-size: 57px;
  line-height: 88px;
}

.gallery-section .header-gallery-wrapper p {
  color: var(--white);
  font-size: 18px;
  line-height: 88px;
}

.gallery-section .header-gallery-wrapper p span {
  color: var(--primary-color);
}

/* - Blog */

.blog-section {
  background-image: linear-gradient(0deg, rgba(4, 1, 34, 0.75) 0%, rgba(4, 1, 34, 0.75) 100%),
    url("../images/blog/blog.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 278px;
}

.blog-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog-section .header-blog-wrapper h3 {
  font-size: 57px;
  line-height: 88px;
}

.blog-section .header-blog-wrapper p {
  color: var(--white);
  font-size: 18px;
  line-height: 88px;
}

.blog-section .header-blog-wrapper p span {
  color: var(--primary-color);
}
